# SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
30 */2 * * *   root    /usr/bin/python3 /code/src/main.py >> /code/logs/cron.log 2>&1
30 */2 * * *   root    bash /code/scripts/cron-job.sh
